<link rel="stylesheet" href="/css/login.css">
<h1>Login!</h1>
<form method="POST" action="/users/create-session">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="pw">Password:</label>
    <input type="password" name="pw" required>
    <button type="submit">Log In</button>
</form>
