<link rel="stylesheet" href="/css/signUp.css">

<h1>Sign Up!</h1>

<form method="POST" action="/users/create">
    <label for="email">Email:</label>
    <input type="email" name="email" required><br>
    <label for="pw">Password:</label>
    <input type="password" name="pw" required><br>
    <label for="cpw">Confirm Password:</label>
    <input type="password" name="cpw" required><br>
    <label for="name">Name:</label>
    <input type="text" name="name" required><br>
    <button type="submit">Sign Up!</button>
    
</form>
